.nav-button-container{
	height:100%;
	.nav-button{
		position:relative;
		z-index:10;
		display: flex;
		flex-direction:column;
		justify-content: space-around;
		align-content: center;
		align-items:flex-end;
		height:100%;
		padding:5px;
		cursor:pointer;
		background: #dc143c;
		transition:1s ease;
		.nav-span{
			display:flex;
			justify-content: flex-end;
			height:4px;
			width:100%;
			.inner{
				display:block;
				width:100%;
				height:100%;
				background-color:black;
				border-radius:50px;
			}
		}
		.show-menu-state{
			.inner{
				width:0;
				transition: width .3s ease;
			}
		}
		.hide-menu-state{
			
		}
		.close-second-span{
			position: absolute;
			width: 42px;
			bottom: 18px;
			transform: rotate(135deg);
			right: -1px;
			display: flex;
			justify-content: flex-end;
			.inner{
				width:100%;
				height:100%;
				background-color:#dc143c;
			}
		}
		.close-third-span{
			position: absolute;
			width: 42px;
			bottom: 18px;
			transform: rotate(45deg);
			right: -1px;
			display: flex;
			justify-content: flex-start;
			.inner{
				width:100%;
				height:100%;
				background-color:#dc143c;
			}
		}
	}
	.nav-button.active{
		background:white;
		transition:background 1s ease;
	}
}	